body {
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
}
.navigation{
    width: 1170px;
    margin: 80px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    color: #131318;
    font-size: 36px;
    gap: 10px;
}
.nav-ar a {
    text-decoration: none;
    margin-left: 45px;
    color: #424247;
}
.nav-ar img{
    display: none;
}
.nav-ar a:nth-child(1) {
    color: #FF5400;
}

/* this is banner */



.banner-content {

    background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 0 auto;

    
}

.title {
    color: #FFF;
    font-size: 64px;

    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}

.para {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 64px;
}

#where-go {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
}

.when {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    text-align: center;
}

.type {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    background-color: #FFF;
    border-radius: 8px;
    text-align: center;
}

.yellow {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    color: #FFF;
}

.popular {
    max-width: 1170px;
    max-height: 500px;
    margin: 70px auto;
}

.popular-class {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.popular-header {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.img-class {
    height: 90%;
    margin-left: 50px;
}

.Destination {
    max-width: 1170px;
    margin: 80px auto;

}

.Destination-class-h {
    color: #131318;
    text-align: center;
    font-size: 40px;

}

.Destination-class-para {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;

}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.choose {
    width: 1170px;
    height: 850px;
    margin: 80px auto;

}

.choose-mother {
    text-align: center;
}

.choose-class {
    color: #131318;
    font-size: 30px;
}

.choose-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
}

.row-card {
    display: flex;
    gap: 40px;
}

.row-div {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 36px;

}

.row-card-div {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 36px;
}

.price {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 36px;
    position: relative;
    top: 30px;
    left: 250px;


}

.simple {
    max-width: 1170px;
    margin: 80px auto;
}

.simple-mother {
    display: flex;
    gap: 40px;
}

.simple-header {
    color: #131318;
    font-size: 40px;
}

.simple-para {
    color: #131318;
    font-size: 16px;
}

.Newsletter {
    max-width: 1170px;
    margin: 80px auto;
}

.Newsletter-mother {
    display: flex;
    justify-content: space-between;
}

.Newsletter-baby {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.Newsletter-header {
    display: flex;
    color: #131318;
    font-size: 24px;
    justify-content: center;

}

.Newsletter-para {
    display: flex;
    color: #5A5A5D;
    font-size: 16px;
    justify-content: center;

}

.input-head {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 10px;
}

.name {
    width: 393px;
    height: 52px;

    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 10px;


}

.email {

    width: 393px;
    height: 52px;

    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 10px;
}

.sub {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    margin: 10px;
}

.pic {
    width: 672px;
    height: 422px;
    border-radius: 16px;
}

.save {
    width: 324px;
    height: 110px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 320px;
    bottom: 180px;
    transform: rotate(-19.628deg);


}
.review {
    max-width:1170px ;
    height: 500px;
    margin: 0 auto;
}
.review-class{
    display: flex;
    gap: 20px;
}

footer {
    max-width: 1170px;
    height: 400px;
    margin: 40px auto;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    justify-content: center;
}

.travel-header {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    padding-top: 110px;
}

#group {
    position: relative;
    top: 18px;

}

.Rights {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-left: 60px;
}







/* mobile device */
@media screen and (max-width:600px) {
    .nav-title{
        display: flex;
        align-items: center;
        color: #131318;
        font-size: 21px;
        }

.nav-ar a{
    display: none;
}
.nav-ar img {
    display: block;
}
.banner-content {
    display: block;

    
    max-width: 90%;
    padding: 0;
    margin: 0;
}

.title {
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.para {
    color: #FFF;
    text-align: center;
    font-size: 10px;
}

.input {
    display: grid;
    flex-direction: column;
    padding-top: 50px;
}
.popular {
    max-width: 100%;
}

.popular-class {
    display: grid;
    align-items: center;
    flex-direction: column;



}

.popular-header {
    color: #131318;
    font-size: 25px;
    font-weight: 200;
}

.popular-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 200;
}

.img-class {
max-width: 100%;
margin: 0;
padding-top: 100px;
    

}

.Destination {
    display: grid;
    flex-direction: column;
    max-width: 100%;
    

}

.Destination-class-h {
    color: #131318;
    text-align: center;
    font-size: 15px;

}

.Destination-class-para {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 13px;

}

.row {
    display: grid;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.choose {
    width: 1170px;
    height: 850px;
    margin: 0;

}

.choose-mother {
    text-align: center;
}

.choose-class {
    color: #131318;
    font-size: 30px;
}

.choose-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
}

.row-card {
    display: grid;
    gap: 40px;
}

.row-div {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 36px;

}

.row-card-div {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 36px;
}

.price {
    width: 565px;
    display: grid;
    flex-direction: column;


}

.simple {
    max-width: 50%
}

.simple-mother {
    display: grid;
    flex-direction: column;
    gap: 10px;
}

.simple-header {
    color: #131318;
    font-size: 20px;
}

.simple-para {
    color: #131318;
    font-size: 10px;
}

.Newsletter {
    max-width: 50%;
    margin: 0;
}

.Newsletter-mother {
    display: grid;
    flex-direction: column;
}

.Newsletter-baby {
    width: 505px;
    border-radius: 3px;
    border: 1px solid #FF5400;
}

.Newsletter-header {
    display: flex;
    color: #131318;
    font-size: 15px;
    justify-content: center;

}

.Newsletter-para {
    display: flex;
    color: #5A5A5D;
    font-size: 8px;
    justify-content: center;

}

.input-head {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 10px;
}

.name {
    width: 393px;
    height: 52px;

    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 10px;


}

.email {

    width: 393px;
    height: 52px;

    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 10px;
}

.sub {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    margin: 10px;
}

.pic {
    width: 672px;
    height: 422px;
    border-radius: 16px;
}

.save {
    width: 324px;
    height: 110px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 320px;
    bottom: 180px;
    transform: rotate(-19.628deg);


}
.review {
    max-width:1170px ;
    height: 500px;
    margin: 0 auto;
}
.review-class{
    display: flex;
    gap: 20px;
}

footer {
    text-align: center;
    justify-content: center;
}

.travel-header {
    color: var(--Dark-01, #131318);
    font-size: 25px;
    padding-top: 50px;
}

#group {
    position: relative;
    top: 10px;

}

.Rights {
    background: rgba(19, 19, 24, 0.10);
    margin-left: 60px;
}







}